@charset "utf-8";
/* CSS Document */
body{
	font-family:"Arial Black", Gadget, sans-serif;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
	padding: 0;
}
.container{
	margin: auto 10%;
		
}
.row:after {
    content: "";
    clear: both;
    display: block;
}

.col-1, .col-2,
.col-3, .col-4,
.col-5, .col-6,
.col-7, .col-8,
.col-9, .col-10,
.col-11, .col-12{
	float: left;
	padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-dejar-1 {margin-left: 8.33%;}
.col-dejar-2 {margin-left: 16.66%;}
.col-dejar-3 {margin-left: 25%;}
.col-dejar-4 {margin-left: 33.33%;}
.col-dejar-5 {margin-left: 41.66%;}
.col-dejar-6 {margin-left: 50%;}
.col-dejar-7 {margin-left: 58.33%;}
.col-dejar-8 {margin-left: 66.66%;}
.col-dejar-9 {margin-left: 75%;}
.col-dejar-10 {margin-left: 83.33%;}
.col-dejar-11 {margin-left: 91.66%;}
.col-dejar-12 {margin-left: 100%;}
/**************************************
INICIO DE LA PAGINA
**************************************/
/*HEADER*/
.titulo-logo{
	margin: auto 23%;
}

.titulo-logo h1{
	margin-top: 35px;
	float: left;
}
.titulo-logo img{
	margin: 10px;
}

.divider{
	position:relative;
	height: 10px;
	background: #000;
}
header .col-12:nth-child(2),
header .col-12:nth-child(3){
	padding: 0;	
}
/*MENU*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline;
	float: left;
}
a{
	text-decoration: none;
	color: #000;
	display: block;
	padding: 15px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
a:hover{
	background:#000;
	color:#FFF;
	cursor:pointer;
	text-decoration: none;
}
/*SECTION*/
.galeria-imagen{
	margin: auto 10px;
}
/*FOOTER*/
.footer{
	display: block;
	width: 100%;
	height: auto;
	background:#000;
	
}
.footer > a{
	margin: auto 43%;
	color: #FFF;
}
/**************************************
REPUESTOS
**************************************/
.baner-repuestos{
	margin: auto 4%;
	box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.2);
}
/**************************************
**************************************/


/**************************************
* Formularios
**************************************/
form{
	margin-top: 50px;
	margin-bottom: 50px;	
}
form .row{
	padding: 10px;
}
form label{
	text-align: right;
}
form .txtDato{
	border: 1px solid rgb(159, 159, 159);
	border-radius: 7px;
	transition: all 1s;
}
form .txtDato:hover,
form .txtDato:active,
form .txtDato:focus{
	border: 1px solid rgb(159, 159, 159);
	border-radius: 7px;
	box-shadow: 1px 1px 20px 2px grey;
}
form .btn{
	border-radius: 10px;
	border: 1px solid transparent;
	background: rgb(231, 231, 231);
	cursor: pointer;
	transition: all 1s;
	padding: 15px;
}
form .succes{
	transition: all 1s;
}
form .succes:hover{
	color: rgb(0, 153, 51);
	border: 1px solid rgb(0, 153, 51);
	box-shadow: 1px 1px 15px 1px rgb(71, 181, 108);
	background: transparent;
}
form .danger{
	transition: all 1s;
}
form .danger:hover{
	color: rgb(255, 89, 89);
	border: 1px solid rgb(255, 89, 89);
	box-shadow: 1px 1px 15px 1px rgb(255, 130, 130);
	background: transparent;
}
/**************************************
**************************************/

/**************************************
* Mision vision
**************************************/
section .mision-vision{
	padding-bottom: 0px;
	text-align: center;
}
section .mision-vision:nth-of-type(2){
	padding: 0;
}